.about-container {
  height: 100vh;
  background-image: url("../assets/schImage.jpeg");
  background-size: cover;
  background-position: center center;
}

.about-text {
  margin-top: 150px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
}

.about-text h2 {
  color: #1565c0;
  text-align: center;
  margin-bottom: 30px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}
